/******************************************************
* Base Styles
*******************************************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins';
    font-size: 1rem;
}
/******************************************************
* Header
*******************************************************/
.header {
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo-img {
    max-height: 30px;
}

/******************************************************
* 
*******************************************************/

/******************************************************
* 
*******************************************************/

/******************************************************
* Media queries
*******************************************************/
/* @media screen and (min-device-width: 565px) {

} */